@charset "utf-8";

/* corona chart */
.c_chart .cc_graph {position:relative;}

.c_chart .cc_graph .axis_label > div > span {display:block; font-size:11px; line-height:15px;}
.c_chart .cc_graph .axis_label > div > em {display:block; font-size:11px; line-height:15px; color:#777;}
.c_chart .cc_graph .axis_label .al_x_l {position:absolute; left:0; bottom:0; text-align:left;}
.c_chart .cc_graph .axis_label .al_x_r {position:absolute; right:0; bottom:0; text-align:right;}
.c_chart .cc_graph .axis_label .al_y_l {position:absolute; left:0; top:0; text-align:left;}
.c_chart .cc_graph .axis_label .al_y_r {position:absolute; right:0; top:0; text-align:right;}

.c_chart .cc_legend {font-size:0; line-height:0; text-align:center; margin-top:8px;}
.c_chart .cc_legend * {vertical-align:middle;}
.c_chart .cc_legend > div {display:inline-block; padding:2px 8px;}
.c_chart .cc_legend > div > i {display:inline-block; width:20px; height:20px;}
.c_chart .cc_legend > div > span {display:inline-block; font-size:12px; line-height:20px; padding-left:4px;}

.c_chart_is {position:relative; padding:70px 0 10px 0;}
.c_chart_is .cc_graph {height:100px;}
.c_chart_is .cc_figure {position:absolute; left:0; top:0; width:100%;}
.c_chart_is .cc_figure p {display:block; font-size:0; line-height:0; width:80px; position:absolute; text-align:center;}
.c_chart_is .cc_figure .numinfo1 {right:50%; top:40px; margin-right:32px;}
.c_chart_is .cc_figure .numinfo2 {left:50%; top:12px; margin-left:-40px;}
.c_chart_is .cc_figure .numinfo3 {left:50%; top:40px; margin-left:32px;}
.c_chart_is .cc_figure p * {vertical-align:middle;}
.c_chart_is .cc_figure p .num_tit {display:inline-block; font-size:11px; line-height:15px; font-weight:400;}
.c_chart_is .cc_figure p .num_rnum {display:inline-block; font-family:'Century Gothic'; font-size:16px; font-weight:600; line-height:20px; letter-spacing:0; color:#174069;}
.c_chart_is .cc_figure p em {display:inline-block; font-size:12px; line-height:16px; margin-left:2px;}
.c_chart_is .cc_figure p .num_percentage {display:inline-block; font-family:'Century Gothic'; font-size:12px; font-weight:600; line-height:15px; letter-spacing:0; color:#174069;}

.c_chart_rpr_A {margin-top:24px;}
.c_chart_rpr_A .cc_graph {height:170px; margin:0 auto;}
.mainlive_container .c_chart_rpr_A {margin-top:0;}
.mainlive_container .c_chart_rpr_A .cc_graph {height:170px;}

.c_chart_rpr_B {padding:10px 0;}
.c_chart_rpr_B .cc_graph {height:220px;}

.c_chart_gir {padding:10px 0;}
.c_chart_gir .cc_graph {height:220px;}

.c_chart.c_chart_wps {padding:12px 16px;}
.c_chart.c_chart_wps .cc_graph {height:164px; padding:0;}
.c_chart.c_chart_wps .cc_graph .axis_label span {display:inline-block;}
.c_chart.c_chart_wps .cc_graph .cca_complete_day {color:#009ec5;}
.c_chart.c_chart_wps .cc_graph .cca_confirm_day {color:#329a00;}
.c_chart.c_chart_wps .cc_graph .cca_cure_total {color:#2a74d4;}
.c_chart.c_chart_wps .cc_graph .cca_complete_total {color:#344d8e;}
.c_chart.c_chart_wps .cc_legend {margin:0 -16px;}
.c_chart.c_chart_wps .cc_legend > div {padding:2px 4px;}
.c_chart.c_chart_wps .cc_legend > div > i {width:16px; height:16px;}
.c_chart.c_chart_wps .cc_legend > div > span {font-size:11px; padding-left:0;}
.c_chart.c_chart_wps .cc_legend .ccl_cure_total i {background:url(../image/chart/legend_wps_cure_total2.png) no-repeat left center;}
.c_chart.c_chart_wps .cc_legend .ccl_complete_day i {background:url(../image/chart/legend_wps_complete_day2.png) no-repeat center center;}
.c_chart.c_chart_wps .cc_legend .ccl_complete_total i {background:url(../image/chart/legend_wps_complete_total2.png) no-repeat left center;}
.c_chart.c_chart_wps .cc_legend .ccl_confirm_day i {background:url(../image/chart/legend_wps_confirm_day2.png) no-repeat center center;}

.c_chart.c_chart_npt {margin-top:16px;}
.c_chart.c_chart_npt .cc_graph {height:480px; padding:10px 0 0 0;}
.c_chart.c_chart_npt .cc_legend .ccl_korea i {background:url(../image/chart/legend_npt_korea.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_china i {background:url(../image/chart/legend_npt_china.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_italy i {background:url(../image/chart/legend_npt_italy.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_iran i {background:url(../image/chart/legend_npt_iran.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_spain i {background:url(../image/chart/legend_npt_spain.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_france i {background:url(../image/chart/legend_npt_france.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_germany i {background:url(../image/chart/legend_npt_germany.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_america i {background:url(../image/chart/legend_npt_america.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_switzerland i {background:url(../image/chart/legend_npt_switzerland.png) no-repeat center center;}
.c_chart.c_chart_npt .cc_legend .ccl_uk i {background:url(../image/chart/legend_npt_uk.png) no-repeat center center;}

.c_chart.c_chart_rps_B {margin-top:16px;}
.c_chart.c_chart_rps_B .cc_graph {height:480px; padding:0 20px 0 0;}
.c_chart.c_chart_rps_B .cc_graph .axis_label .al_x_r {margin:0 0 5px 0;}

.c_chart.c_chart_pt {margin-top:24px;}
.c_chart.c_chart_pt .cc_graph {height:320px; padding-top:25px;}
.c_chart.c_chart_pt .cc_graph .cca_total {color:#3571cc;}
.c_chart.c_chart_pt .cc_graph .cca_day {color:#e04f22;}
.c_chart.c_chart_pt .cc_legend .ccl_total i {background:url(../image/chart/legend_pt_total.png) no-repeat center center;}
.c_chart.c_chart_pt .cc_legend .ccl_day i {background:url(../image/chart/legend_pt_day.png) no-repeat center center;}

.c_chart.c_chart_ct {margin-top:24px;}
.c_chart.c_chart_ct .cc_graph {height:320px; padding-top:25px;}
.c_chart.c_chart_ct .cc_graph .cca_total {color:#e0217b;}
.c_chart.c_chart_ct .cc_graph .cca_day {color:#1f7ccb;}
.c_chart.c_chart_ct .cc_legend .ccl_total i {background:url(../image/chart/legend_ct_total.png) no-repeat center center;}
.c_chart.c_chart_ct .cc_legend .ccl_day i {background:url(../image/chart/legend_ct_day.png) no-repeat center center;}

/* regional incidence ratio - donut */
[class^="regional_incidence_ratio"] {position:relative; width:160px; height:160px; margin:0 auto; padding:28px;}/* padding:40px 0 16px 0; */
[class^="regional_incidence_ratio"] > svg {width:104px; height:104px;}
[class^="regional_incidence_ratio"] > svg > path:first-child {stroke-width:20px; stroke:#e3e3e3; fill:none;}
[class^="regional_incidence_ratio"] > svg > path:last-child {stroke-width:20px; stroke:#0b9bc9; fill:none;}
.rir_text {position:absolute; left:0; top:0; width:100%; height:100%; font-size:0; line-height:0; text-align:center;}
.rir_text::before {display:inline-block; content:''; height:100%; vertical-align:middle;}
.rir_text > div {display:inline-block; vertical-align:middle;}
.rir_text > div > span {display:block; font-size:12px; line-height:20px; letter-spacing:-0.048em;}
.rir_text > div > p {display:block; font-family:'Lato'; font-size:24px; line-height:32px;}

/* regional_patient_status_A - map */
.regional_patient_status_A {display:table; table-layout:fixed; width:100%;  border:1px solid #dcdcdc; margin-top:16px;}
.regional_patient_status_A > div {display:table-cell; vertical-align:top; padding:20px 24px;}
.regional_patient_status_A .rpsa_map {width:65%; padding-bottom:32px;border-top:4px solid #164068}
.regional_patient_status_A .rpsa_detail {position:relative; background:#fff; border-top:4px solid #164068;}
.regional_patient_status_A .rpsa_detail::before { display:block; content:""; position:absolute; left:0; top:-4px; width:1px; height:100%; background-color:#efefef; z-index:2}

.regional_patient_status_A .rpsa_map .rpsam_descript {position:relative; padding-left:24px; font-size:12px; line-height:20px; color:#333;}
/*.regional_patient_status_A .rpsa_map .rpsam_descript::before {position:absolute; left:0; top:1px; content:"?"; display:block; width:18px; height:18px; border-radius:100%; font-family:'Lato'; font-size:10px; line-height:18px; font-size:12px; font-weight:600; color:#fff; text-align:center; background-color:#006668;}*/
.regional_patient_status_A .rpsa_map .rpsam_descript::before {position:absolute; left:0; top:2px; content:""; display:block; width:16px; height:16px; background:url(../image/sub_cmn/ico_rss_alert.png) no-repeat center center;}
.regional_patient_status_A .rpsa_map .rpsam_descript .info {color:#666;}

.regional_patient_status_A .rpsa_map .rpsam_graph {position:relative; width:400px; margin:0 auto;}
.regional_patient_status_A .rpsa_map .rpsam_graph svg {display:block; width:100%; height:530px;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] {border:0; position:absolute; display:block; margin:0; padding:4px 8px; background:#fff; text-align:center; box-shadow:2px 2px 4px rgba(100, 100, 100, 0.2); border-radius:2px;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] .name {display:block; font-size:11px; line-height:15px; color:#333; font-weight:700;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] .num {display:block; font-family:'Lato'; font-size:14px; line-height:18px; letter-spacing:0; font-weight:bold; color:#000; margin-top:2px;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] .before {display:block; font-family:'Lato'; font-size:12px; line-height:14px; letter-spacing:0; color:#333;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"].select {background:#141414;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"].select .name {color:#fff;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"].select .num {color:#fff;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"].select .before {color:#fbfbfb;}
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city1"]	{left:134px; top:84px;} /*서울*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city2"] {left:284px; top:398px;}/*부산*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city3"] {left:270px; top:260px;} /*대구*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city4"] {left:38px; top:84px;} /*인천*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city5"] {left:102px; top:368px;} /*광주*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city6"] {left:158px; top:208px;} /*대전*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city7"] {left:328px; top:352px;} /*울산*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city8"] {left:108px; top:162px;} /*세종*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city9"] {left:132px; top:14px;} /*경기*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city10"] {left:226px; top:54px;} /*강원*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city11"] {left:184px; top:134px;} /*충북*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city12"] {left:52px; top:212px;} /*충남*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city13"] {left:110px; top:284px;} /*전북*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city14"] {left:40px; top:392px;} /*전남*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city15"] {left:250px; top:190px;} /*경북*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city16"] {left:206px; top:348px;} /*경남*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city17"] {left:56px; top:494px;} /*제주*/
.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city18"] {left:302px; top:464px;} /*검역*/

.regional_patient_status_A .rpsa_detail > div > div {display:none;}
.regional_patient_status_A .rpsa_detail > div > div.open {display:block;}
.regional_patient_status_A .rpsa_detail .cityname {display:block; font-size:24px; line-height:32px; font-weight:700; color:#000;}
.regional_patient_status_A .rpsa_detail .citychart {display:none;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo > li {display:table; width:100%; font-size:0; line-height:0;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo > li > div {display:table-cell; width:50%; padding:3px 0;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo > li > div:last-child {text-align:right;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo > li > div > * {display:inline-block; vertical-align:middle;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo .tit {font-size:14px; line-height:22px; color:#444; font-weight:500;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo .num {font-family:'Lato'; font-size:18px; line-height:22px; font-weight:500; color:#000; margin-bottom:-2px;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo > li > div > em {font-size:14px; line-height:22px; color:#666; margin-left:4px;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo [class^="sub_"] {font-size:12px; line-height:1;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo .sub_tit {color:#666; margin-right:4px;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo .sub_tit.red {color:#0097c7;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo .sub_num {font-family:'Lato'; font-weight:500;}
.regional_patient_status_A .rpsa_detail .mapview .cityinfo .sub_num.red {color:#0097c7;}

.regional_patient_status_A .rpsa_detail .rpsad_legend {position:absolute; bottom:20px; left:24px;}
.regional_patient_status_A .rpsa_detail .rpsad_legend > li {padding:4px; padding-left:24px; font-size:12px; line-height:20px; color:#333; word-break:keep-all;}
.regional_patient_status_A .rpsa_detail .rpsad_legend > li > span {color:#000; font-weight:700;}
.regional_patient_status_A .rpsa_detail .rpsad_legend > li::before {content:""; display:block; position:absolute; left:0; top:5px; width:18px; height:18px; font-family:'Lato'; font-size:10px; line-height:18px; color:#fff; text-align:center; background:#8e7c7c; border-radius:100%;}
.regional_patient_status_A .rpsa_detail .rpsad_legend > li:nth-child(1)::before {content:"1";}
.regional_patient_status_A .rpsa_detail .rpsad_legend > li:nth-child(2)::before {content:"2";}

.mainlive_container .regional_patient_status_A {margin-top:6px; border:0;}
.mainlive_container .regional_patient_status_A .rpsa_map {background:#fff;}
.mainlive_container .regional_patient_status_A .rpsa_map .rpsam_graph {margin-top:-17px;}
.mainlive_container .regional_patient_status_A .rpsa_detail {padding:12px 16px;}
.mainlive_container .regional_patient_status_A .rpsa_detail h3 { width:100%; padding:12px 0 12px 72px; z-index:1} 
.mainlive_container .regional_patient_status_A .rpsa_detail h3 > .title { padding-left:8px; padding-right:8px; color:#333; line-height:20px;/*  border:1px solid #c27171; */}
.mainlive_container .regional_patient_status_A .rpsa_detail h3 > .title > span { display:inline-block;vertical-align:middle;}
.mainlive_container .regional_patient_status_A .rpsa_detail .info_map_btn { display:inline-block; margin-left:4px; width:16px; height:16px; text-align:center; background-color:#006766; color:#fff; font-size:12px; font-weight:400; line-height:16px; border-radius:13px;vertical-align:middle;}
.mainlive_container .regional_patient_status_A .rpsa_detail .info_map_script { display:none;  position:absolute; left:50%; top:54px; width:160px; margin-left:-70px; z-index:2}
.mainlive_container .regional_patient_status_A .rpsa_detail .info_map_script > a { display:block; width:100%; height:auto; padding:6px 10px; font-size:13px; line-height:1.25em; text-align:left; border:1px solid #98baba; background-color:#fff; color:#666; border-radius:6px;}
.mainlive_container .regional_patient_status_A .rpsa_detail .cityname {position:absolute; top:20px; left:20px; font-size:26px; font-weight:600; color:#000; z-index:2} 
.mainlive_container .regional_patient_status_A .rpsa_detail .mapview .cityinfo {width:100%;}

@media (min-width:1180px) {
	.mainlive_container .regional_patient_status_A {height:612px;}
	.regional_patient_status_A .rpsa_detail::before { min-height:612px; }
}
@media (min-width:768px) and (max-width:1179px) {
	.regional_patient_status_A .rpsa_detail::before { min-height:612px;}
}
@media (max-width:767px) {
	.regional_patient_status_A,
	.regional_patient_status_A > div {display:block;}
	.regional_patient_status_A .rpsa_map {width:100%;}
	.regional_patient_status_A .rpsa_map .rpsam_graph {width:280px;}	
	.regional_patient_status_A .rpsa_map .rpsam_graph svg {height:371px;}
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city1"] {left:104px; top:66px;} /*서울*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city2"] {left:184px; top:278px;}/*부산*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city3"] {left:178px; top:204px;} /*대구*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city4"] {left:26px; top:40px;} /*인천*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city5"] {left:74px; top:268px;} /*광주*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city6"] {left:110px; top:134px;} /*대전*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city7"] {left:230px; top:244px;} /*울산*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city8"] {left:64px; top:106px;} /*세종*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city9"] {left:74px; top:12px;} /*경기*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city10"] {left:184px; top:16px;} /*강원*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city11"] {left:152px; top:88px;} /*충북*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city12"] {left:16px; top:148px;} /*충남*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city13"] {left:70px; top:192px;} /*전북*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city14"] {left:0px; top:258px;} /*전남*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city15"] {left:192px; top:134px;} /*경북*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city16"] {left:134px; top:248px;} /*경남*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city17"] {left:44px; top:336px;} /*제주*/
	.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city18"] {left:220px; top:322px;} /*검역*/

	.regional_patient_status_A .rpsa_detail .cityname {font-size:18px; line-height:26px;}
	.regional_patient_status_A .rpsa_detail .mapview .cityinfo {width:100%;}
	.regional_patient_status_A .rpsa_detail .rpsad_legend {position:relative; left:0; top:0; margin-top:24px;}
	
	.regional_patient_status_A .rpsa_detail::before { display:none}
}

.c_chart.c_chart_dp {margin-top:24px;}
.c_chart.c_chart_dp .cc_graph {height:480px; padding-top:24px;}
.c_chart.c_chart_nptb {margin-top:24px;}
.c_chart.c_chart_nptb .cc_graph {height:480px;}
.c_chart.c_chart_nptd {margin-top:24px;}
.c_chart.c_chart_nptd .cc_graph {height:480px; padding-top:24px;}










/* regional_step_status - map */
.regional_step_status {display:table; table-layout:fixed; width:100%;  border:1px solid #dcdcdc; margin-top:16px;}
.regional_step_status > div {position:relative; display:table-cell; vertical-align:top; padding:20px 24px;}
.regional_step_status .rss_map {width:65%; padding-bottom:32px; border-top:4px solid #164068}
.regional_step_status .rss_detail {position:relative; background:#fff; border-top:4px solid #164068;}
.regional_step_status .rss_detail::before {display:block; content:""; position:absolute; left:0; top:-4px; width:1px; height:100%; background-color:#efefef; z-index:2}

.regional_step_status .rss_map [class^="rssm_descript_"] {position:relative; padding-left:22px; font-size:12px; line-height:20px; color:#333;}
.regional_step_status .rss_map [class^="rssm_descript_"]::before {position:absolute; left:0; top:2px; content:""; display:block; width:16px; height:16px;}
.regional_step_status .rss_map .rssm_descript_1::before {background:url(../image/sub_cmn/ico_rss_alert.png) no-repeat center center;}
.regional_step_status .rss_map .rssm_descript_2::before {background:url(../image/sub_cmn/ico_rss_caution.png) no-repeat center center;}

.regional_step_status .rss_map .rssm_legend {position:absolute; right:24px; bottom:20px;}
.regional_step_status .rss_map .rssm_legend > ul::after {display:block; content:''; clear:both;}
.regional_step_status .rss_map .rssm_legend > ul > li {float:left; width:24px; text-align:center; margin-left:2px;}
.regional_step_status .rss_map .rssm_legend > ul > li > i {display:block; height:12px;}
.regional_step_status .rss_map .rssm_legend > ul > li > span {display:block; font-family:'Lato'; font-size:10px; line-height:18px; color:#444; margin-top:2px;}

.regional_step_status .rss_map .rssm_legend > ul > li:nth-child(1) > i {background:#d2f0fb;}
.regional_step_status .rss_map .rssm_legend > ul > li:nth-child(2) > i {background:#4088da;}
.regional_step_status .rss_map .rssm_legend > ul > li:nth-child(3) > i {background:#ffb911;}
.regional_step_status .rss_map .rssm_legend > ul > li:nth-child(4) > i {background:#fc7001;}
.regional_step_status .rss_map .rssm_legend > ul > li:nth-child(5) > i {background:#e60000;}

.regional_step_status .rss_map .rssm_graph {position:relative; width:400px; margin:0 auto;}
.regional_step_status .rss_map .rssm_graph svg {display:block; width:100%; height:530px;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"] {border:0; position:absolute; display:block; margin:0; padding:4px 8px; background:#fff; text-align:center; box-shadow:2px 2px 4px rgba(100, 100, 100, 0.2); border-radius:2px;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"] .name {position:relative; display:inline-block; font-size:11px; line-height:20px; color:#444; font-weight:700;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"] .name.caution {padding-right:16px;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"] .name.caution::before {display:block; content:''; width:16px; height:16px; position:absolute; right:0; top:2px; background:url(../image/sub_cmn/ico_rss_caution.png) no-repeat center center;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"] .num {display:block; font-family:'Lato'; font-size:20px; line-height:28px; letter-spacing:0; font-weight:bold; color:#000;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"].select {background:#141414;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"].select .name {color:#fff;}
.regional_step_status .rss_map .rssm_graph button[data-city^="step_map_city"].select .num {color:#fff;}
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city1"]	{left:134px; top:84px;} /*서울*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city2"]	{left:284px; top:398px;}/*부산*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city3"]	{left:270px; top:260px;} /*대구*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city4"]	{left:38px; top:84px;} /*인천*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city5"]	{left:102px; top:368px;} /*광주*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city6"]	{left:158px; top:208px;} /*대전*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city7"]	{left:328px; top:352px;} /*울산*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city8"]	{left:108px; top:162px;} /*세종*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city9"]	{left:132px; top:14px;} /*경기*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city10"]	{left:226px; top:54px;} /*강원*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city11"]	{left:184px; top:134px;} /*충북*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city12"]	{left:52px; top:212px;} /*충남*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city13"]	{left:110px; top:284px;} /*전북*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city14"]	{left:40px; top:392px;} /*전남*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city15"]	{left:250px; top:190px;} /*경북*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city16"]	{left:206px; top:348px;} /*경남*/
.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city17"]	{left:56px; top:494px;} /*제주*/

.regional_step_status .rss_detail > div > div {display:none;}
.regional_step_status .rss_detail > div > div.open {display:block;}
.regional_step_status .rss_detail .rssd_title_1 {display:block; font-size:24px; line-height:32px; font-weight:700; color:#222;}
.regional_step_status .rss_detail .rssd_title_2 {position:relative; display:block; font-size:17px; line-height:24px; font-weight:700; color:#222; margin-top:6px;}
.regional_step_status .rss_detail .rssd_title_2[data-step="1"],		
.regional_step_status .rss_detail .rssd_title_2[data-step="1.5"],	
.regional_step_status .rss_detail .rssd_title_2[data-step="2"],		
.regional_step_status .rss_detail .rssd_title_2[data-step="2.5"],	
.regional_step_status .rss_detail .rssd_title_2[data-step="3"] {padding-left:22px;}		
.regional_step_status .rss_detail .rssd_title_2[data-step="1"]::before,		
.regional_step_status .rss_detail .rssd_title_2[data-step="1.5"]::before,	
.regional_step_status .rss_detail .rssd_title_2[data-step="2"]::before,		
.regional_step_status .rss_detail .rssd_title_2[data-step="2.5"]::before,	
.regional_step_status .rss_detail .rssd_title_2[data-step="3"]::before {display:inline-block; content:''; width:14px; height:14px; border-radius:100%; position:absolute; left:0; top:6px; background:#ddd; vertical-align:middle}
.regional_step_status .rss_detail .rssd_title_2[data-step="1"]::before		{background:#d2f0fb;}
.regional_step_status .rss_detail .rssd_title_2[data-step="1.5"]::before	{background:#4088da;}
.regional_step_status .rss_detail .rssd_title_2[data-step="2"]::before		{background:#ffb911;}
.regional_step_status .rss_detail .rssd_title_2[data-step="2.5"]::before	{background:#fc7001;}
.regional_step_status .rss_detail .rssd_title_2[data-step="3"]::before		{background:#e60000;}
.regional_step_status .rss_detail .rssd_descript {display:block; margin-top:2px; font-size:13px; line-height:20px; color:#666; padding:1px 0;}
.regional_step_status .rss_detail .rssd_list {margin-top:4px;}
.regional_step_status .rss_detail .rssd_list > li {position:relative; font-size:13px; line-height:21px; color:#666; padding:1px 0; padding-left:12px;}
.regional_step_status .rss_detail .rssd_list > li::before {display:block; content:''; width:6px; height:1px; background:#ddd; position:absolute; left:0; top:11px;}

.mainlive_container .regional_step_status {margin-top:6px; border:0;}
.mainlive_container .regional_step_status .rss_map {background:#fff;}
.mainlive_container .regional_step_status .rss_map .rssm_graph {margin-top:-17px;}
.mainlive_container .regional_step_status .rss_detail {padding:16px 20px;}

@media (min-width:1180px) {
	.mainlive_container .regional_step_status {height:612px;}
	.regional_step_status .rss_detail::before {min-height:612px;}
	.regional_step_status .rss_detail .rssd_descript { line-height:19px; word-wrap: break-word; word-break:keep-all; }
}
@media (min-width:768px) and (max-width:1179px) {
	.regional_step_status .rss_detail::before {min-height:612px;}
}
@media (max-width:767px) {
	.regional_step_status,
	.regional_step_status > div {display:block;}
	.regional_step_status .rss_map {width:100%;}
	.regional_step_status .rss_map .rssm_graph {width:280px;}	
	.regional_step_status .rss_map .rssm_graph svg {height:371px;}
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city1"] {left:104px; top:66px;} /*서울*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city2"] {left:184px; top:278px;}/*부산*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city3"] {left:178px; top:204px;} /*대구*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city4"] {left:26px; top:40px;} /*인천*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city5"] {left:74px; top:268px;} /*광주*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city6"] {left:110px; top:134px;} /*대전*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city7"] {left:230px; top:244px;} /*울산*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city8"] {left:64px; top:106px;} /*세종*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city9"] {left:74px; top:12px;} /*경기*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city10"] {left:184px; top:16px;} /*강원*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city11"] {left:152px; top:88px;} /*충북*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city12"] {left:16px; top:148px;} /*충남*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city13"] {left:70px; top:192px;} /*전북*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city14"] {left:0px; top:258px;} /*전남*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city15"] {left:192px; top:134px;} /*경북*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city16"] {left:134px; top:248px;} /*경남*/
	.regional_step_status .rss_map .rssm_graph button[data-city="step_map_city17"] {left:44px; top:336px;} /*제주*/
	.regional_step_status .rss_detail::before {display:none;}
}

/* ncov tab list */
.ncov_tab_list {font-size:0; line-height:0; text-align:center;}
.ncov_tab_list ul,
.ncov_tab_list ul li,
.ncov_tab_list ul li a span,
.ncov_tab_list ul li a em {display:inline-block; vertical-align:middle;}
.ncov_tab_list ul {height:28px; border-radius:14px; border:1px solid #9eabbc; background:#fff;}
.ncov_tab_list ul li {margin:-1px -8px;}
.ncov_tab_list ul li:first-child {margin-left:-1px;}
.ncov_tab_list ul li:last-child {margin-right:-1px;}
.ncov_tab_list ul li a {display:block; padding:2px 24px; border-radius:14px;}
.ncov_tab_list ul li a span {font-size:16px; line-height:24px; font-weight:700; color:#164068; letter-spacing:-0.75px}
.ncov_tab_list ul li a em {font-size:14px; line-height:22px; padding-left:6px; color:#778898; letter-spacing:-0.75px}
.ncov_tab_list ul li.on a {background:#164068;}
.ncov_tab_list ul li.on a span {color:#fff;}
.ncov_tab_list ul li.on a em {color:#cae6f2;}

.live_regional_title {display:block; margin-top:6px;}
.live_regional_title span,
.live_regional_title em {display:inline-block; vertical-align:middle;}
.live_regional_title span {font-size:16px; line-height:24px; font-weight:700; color:#164068;}
.live_regional_title em {font-size:14px; line-height:22px; font-weight:400; padding-left:6px; color:#778898;}

.ncov_lt_p .ncov_lt_l {display:block; padding:6px 20px 6px 6px; background:url(../image/sub_cmn/faq_arrow_down.png) no-repeat right center #fff; border:1px solid #a4c3ef; text-align: center; background-color: #fff; border-radius: 6px; margin-top:6px;}
.ncov_lt_p.open .ncov_lt_l {background-image:url(../image/sub_cmn/faq_arrow_up.png);}
.ncov_lt_p .ncov_lt_l span,
.ncov_lt_p .ncov_lt_l em {font-size:14px; line-height:22px; font-weight:700; color: #0064af; vertical-align:middle; padding:0 2px;}
.ncov_lt_p .txt_open {display:inline;}
.ncov_lt_p .txt_close {display:none;}
.ncov_lt_p.open .txt_open {display:none;}
.ncov_lt_p.open .txt_close {display:inline;}

/* tab, list toggle */
@media (min-width:1180px) {
	.ncov_tab_common .ncov_tab_content 	{width:0; height:0; overflow:hidden;}
	.ncov_tab_common .ncov_tab_content.on {width:100%; height:auto; overflow:initial;}

	.ncov_lt_p .ncov_lt_l,
	.live_regional_title {display:none;}
}
@media (min-width:768px) and (max-width:1179px) {
	.ncov_tab_common .ncov_tab_content 	{width:0; height:0; overflow:hidden;}
	.ncov_tab_common .ncov_tab_content.on {width:100%; height:auto; overflow:initial;}

	.ncov_lt_p .ncov_lt_l,
	.live_regional_title {display:none;}
}
@media (max-width:767px) {
	.ncov_tab_common .ncov_tab_list {display:none;}

	.ncov_lt_p .ncov_lt_c {width:100%; height:0; overflow:hidden; transition:height 0.25s ease-out;}
	.ncov_lt_p.open .ncov_lt_c {width:100%; height:auto; overflow:initial;}
}